<div class="flex min-h-screen w-screen">
  <div class="auth-bg hidden flex-none items-center justify-center azul-institucional bg-cover lg:flex">
    <div class="max-w-xl space-y-4 pl-6 pr-6 text-center text-white">
      <img src="./assets/images/auth-screens.png" class="w-3/5 mx-auto" alt="dashboard widget" />
      <br><br>
      <div>
        <h3 class="text-3xl font-bold">Eres muy</h3>
        <h3 class="text-3xl font-bold">importante</h3>
      </div>
      <br> 
      <h2 class="text-xl">Actualiza tus datos más rápido</h2>
      <br><br>
      <p class="text-sm font-light mx-auto mb-0">
        Queremos consolidar relaciones más cercanas y en doble vía
        <span class="cursor-pointer font-medium text-[#FFD300]">contigo</span>.
        Te invitamos a actualizar tus datos; de esta forma disfrutas de información interesante sobre servicios y
        beneficios preparados para ti y realimentas nuestra Institución para los procesos de calidad y formación
        integral. A continuación puedes verificar tu información y
        en caso de requerirlo modificarla con tus datos <span
          class="cursor-pointer font-medium text-[#FFD300]">actuales.</span>
      </p>
    </div>
  </div>
  
  <div class="flex flex-auto items-center justify-center bg-white dark:bg-night-700">
    <div class="max-w-md px-4 sm:w-[500px]">
      <div class="flex items-center justify-center p-2 flex-shrink-0">
        <a class="rounded flex-1">
          <img src="assets/logoUniminuto.png" alt="Logo de UNIMINUTO" class="w-1/2 max-w-full flex-shrink-0">
        </a>
        <div class="pl-3 flex flex-col items-center">
          <span class="font-bold text-gray-700 dark:text-white">Portal de actualización</span>
          <span class="font-bold text-gray-700 dark:text-white">de datos</span>
        </div>
      </div>
     
      <br>

      <div class="max-h-9 space-y-4 p-8 text-center text-black block lg:hidden">
        <p class="text-xs font-light mx-auto mb-0 leading-tight">
          Queremos consolidar relaciones más cercanas y en doble vía
          <span class="cursor-pointer font-medium text-[#FFD300]">contigo</span>.
          Te invitamos a actualizar tus datos; de esta forma disfrutas de información interesante sobre servicios y
          beneficios preparados para ti y realimentas nuestra Institución para los procesos de calidad y formación
          integral. A continuación puedes verificar tu información y
          en caso de requerirlo modificarla con tus datos <span
            class="cursor-pointer font-medium text-[#FFD300]">actuales.</span>
        </p> 
      </div>
      <br><br><br><br>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>